@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*,*::before,*::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif!important;
}


/*NAVBAR*/

.nav-wrapper{
  margin: 24px auto;
  justify-content: space-between;
  align-items: center;
}
.nav-wrapper ul{
  list-style: none;
  display: grid;
  place-content: center;
  place-items: center;
  grid-auto-flow: column;
  gap: 30px;
}
.primary-btn{
  background: #2500f9!important;
  padding:10px 25px!important;
  color:#fff!important;
  font-weight: 600!important;
  border-radius: 25px!important;
  text-transform: capitalize!important;
}

.ghost-btn{
  color: #2500f9  !important;
  text-transform: capitalize!important;
}

/*BANNER*/
.banner-container{
  position: relative;

}

.banner-wrapper{
  align-items: center;
  min-height: 90vh;
}

.banner-text-wrapper{
  justify-content: center;
  align-items: center;

}

.chip{
  padding: 0;
  margin-bottom: 10px;

}
.editor-logo-wrapper{
  background: #ffac24;
  border-radius: 50%;
  margin: 0!important;
  padding: 5px;
  height:100%!important;
  width: 30px!important;
  display: grid;
  place-items: center;
}

.banner-title{
  font-weight: 600!important;
}

.banner-logo{
  max-height: 420px;
  max-width: 240px;
}

.building-overlay{
  position: absolute;
  bottom: 0px;
  z-index: -1;
}


/*COMPANIES*/
.companies-container{
  margin-bottom: 5rem;
}

.companies-title{
  margin-top: 5rem!important;
  margin-bottom: 20px!important;
  text-align: center;
}
.companies-wrapper{
  justify-content: center;
}
.company-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
}


/*FEATURES*/

.feature-title{
  font-weight: 500!important;
  margin-bottom: 14px!important;
}
.feature-container{
  margin: 30px auto!important;
}
.feature-img-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}
.feature-bg-img{
  padding: 14px;
  border-radius: 50%;
  display: flex;
  align-items: center;
}